- if can? :create, Ingredient
  = link_to('New Ingredient', new_ingredient_path)
%ol
  - @ingredients.each do |ingredient|
    %li
      .ingredient
        = link_to(ingredient.name, ingredient, class: "ingredient-name")
        = link_to(ingredient) do
          = image_tag(ingredient.image, class: "ingredient-image")