%select#offset_select
  %option{value: 0}0-50
  %option{value: 50}50-100
  %option{value: 100}100-150
  %option{value: 150}150-200
  %option{value: 200}200-last
%canvas#myChart{width:1200, height:300}