<div class='navbar navbar-default'>
  <div class='navbar-brand strong'>{{#linkTo 'index'}}Rails Ember Blog{{/linkTo}}</div>
  <ul class='nav navbar-nav navbar-left'>
  </ul>
  <ul class='nav navbar-nav navbar-right'>
  </ul>
</div>