table, td, th {
  border: 1px solid grey;
}

th {
  text-align: left;
  color: blue;
}

td, th {
  padding: 8px;
}

.large-image {
  margin: 20px 0;
  max-height: 200px;
}

.thumbnail {
  margin: 10px 0;
  max-height: 75px;
}

fieldset {
  max-width: 600px;
}

legend {
  font-size: 20px;
}

.field label {
  text-align: right;
  width: 250px;
  float: left;
  font-weight: bold;
  margin-right: 10px;
}

.field label.checkbox-label {
  width: auto;
  font-weight: normal;
}

.field input {
  width: 300px;
  float: left;
}

.actions {
  float: right;
  clear: both;
}

fieldset p {
  clear: both;
  padding: 5px;
}

input[type="number"] {
  width: 150px;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
}

.notice {
  font-size: 20px;
  color: green;
  width: 500px;
  background-color: #c3f7c9;
  border: 1px solid green;
  padding: 12px;
}
