<h1>Welcome to Jon's Ruby Quiz</h1>
<p>
  This quiz will challenge your knowledge of ruby with a series of true or false statements.
</p>
<div class="controls">
  <a class="action" href=<%= "/questions/1" %>> GET STARTED </a>
</div>
