%select#offset_select
  %option{value: 0}0-100
  %option{value: 100}100-200
  %option{value: 200}200-300
  %option{value: 300}300-400
  %option{value: 400}400-500
  %option{value: 500}500-600
  %option{value: 600}600-700
  %option{value: 700}700-800
  %option{value: 800}800-900
  %option{value: 900}900-1000
  %option{value: 1000}1000-last
%canvas#myChart{width:1200, height:300}
%ul#rates_list