<html>
<head>
  <title>Movies and Actors</title>
  <link rel="stylesheet" type="text/css" href="./public/style.css">
</head>

<body>
  
  <header>
    <h1><a href="/">Movies and Actors</a></h1>
  </header>

  <section>
    <%= yield %>
  </section>
  

  <footer>

  </footer>
  
  
</body>
</html>