- if can? :list_admin, User
  = link_to('List admins', list_admin_users_path)
%ul
  - @users.each do |user|
    %li
      #{user.name} (#{user.role})
      - if can? :update, user
        = link_to 'edit', edit_user_path(user)
