<html>
<head>
 
  <script src="./scripts/jquery-2.0.3.js"></script>
  <script src="./scripts/underscore.js"></script>
  <script src="./scripts/script.js"></script>
 
  <title>ToDo App</title>

  <script type="text/javascript">
    
    
  </script>
 
  <script type="text/html" id="application">
    <table>
      <% _.each(tasks, function(task){ %>
        <tr>
          <td><%= task.desc %></td>
          <td><%= task.stat %></td>
        </tr>
      <% }); %>
    </table>
  </script>

  <script type="text/html" id="newTask">
    <table>
      <tr>
        <td><input id="newTaskEntry" type="text" placeholder="enter a new task" /></td>
        <td><input id="add-task" type="button" value='Add'/></td>
      </tr>
    </table>
  </script>
 
</head>
<body>
  <div id="nav">
    <ul>
      <li><button id='all'>All</button></li>
      <li><button id='new'>New</button></li>
      <li><button id='todo'>ToDo</button></li>
      <li><button id='completed'>Completed</button></li>
    </ul>
  </div>
  <div id='list'></div>
  <div id='newEntry'></div>
</body>
</html>
