<h1>Hello World</h1>


  "Line N - Times Square" => 4, 
  "Line N - 34th" => 3,
  "Line N - 28th" => 2, 
  "Line N - 23rd" => 1,
  "Line N - Union Square" => 0, 
  "Line N - 8th" => -1,
  "Line L - 8th" => 2,
  "Line L -6th" => 1,
  "Line L -Union Square" => 0,
  "Line L -3rd" => -1,
  "Line L -1st" => -2,
  "Line 6 -Grand Central" => 3,
  "Line 6 -Grand Central33rd" => 2,
  "Line 6 -Grand Central28th" => 1,
  "Line 6 -Grand CentralUnion Square" => 0,
  "Line 6 -Grand CentralAstor Place" => -1

<%= render 'form' %>