= content_for :title, "About us page"

%h1 About

%p
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id fringilla nisi. Curabitur nisi lacus, suscipit quis mauris ac, aliquam suscipit ipsum. Pellentesque dui tortor, rhoncus eget cursus vel, porta vel enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed dapibus tincidunt nisl sodales fermentum. Nam quis ligula sit amet eros venenatis porta at a orci. Aliquam a dictum tortor, a lobortis nisi. Praesent tincidunt varius malesuada. Pellentesque luctus porttitor blandit. Praesent rhoncus justo odio, id ultrices ante feugiat a. Nulla tincidunt lacus eu fringilla sodales.