<html>
<head>
  <title>Movies app</title>
</head>
<body>
  <header>
    <a href="/">
      <h1>Movies app</h1>
    </a>
    <form method="post" action="/search">
      <input type="text" name="query" />
      <input type="submit" />
    </form>
    <a href="/new"> Add a new movie </a>
  </header>
  <section>
    <%= yield %>
  </section>
  <footer>

  </footer>
  
  
</body>
</html>