<h2>Classic Calculator</h2>
<form method="POST" action="/classic/">
  <ul>
      <li> First Number: <input type="text" name="first_number"></li>
      <li> Operator: <input type="text" name="operator"></li>
      <li> Second Number: <input type="text" name="second_number"></li>
      <input type="submit">
  </ul>
</form>


the result is <%= @result %>