<html>
<head>
  <title>Calculators</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Welcome to Ralph's Calculators</h1>
  <h2>Menu</h2>
<ul>
  <li>
    <a href="/classic/">Classic</a>
  </li>
  <li>
    <a href="/bmi/">BMI</a>
  </li>
  <li>
    <a href="/mortage/">Mortage</a>
  </li>
  <li>
    <a href="/trip/">Trip</a>
  </li>
</ul>
  <%= yield %>
</body>
</html>