<h3>Actors Index</h3>
<ul>
<% @actors.each do |actor| %>
  <li>
    <h4>
      <a href="/actors/<%= actor["id"] %>">
        <%= "#{actor["first_name"]} (#{actor["last_name"]})"%>
      </a>
    </h4>
  </li>

<% end %>
</ul>