<h3>Add a new movie</h3>
<form method='post' action='/new'>
  Title: <input type='text' name='title' />
  Year: <input type='number' name='year' />
  Rating: <input type='number' name='rated' />
  Poster: <input type='text' name='poster' />
  Director: <input type='text' name='director' />
  Actors: <input type='text' name='actors' />
  <input type='submit' />
</form>